[Unit]
Description=Besta Fera Minecraft manager
After=network.target
After=docker.service

[Service]
ExecStart=/usr/local/bin/besta-fera
Restart=always
EnvironmentFile=/etc/default/besta-fera

[Install]
WantedBy=multi-user.target